@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="container-fluid">
    <div class="alert alert-success center">
        Welcome to Huy CMS Ver 1.0
    </div>
</div>
