@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ManageLayout</title>
</head>
<style>
    body{
        background: gray;
    }
</style>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
