
// Define color
$color1: #000000;
$color2: #303F42;
$color3: #55676A;
$color4: #6C7A7D;
$color5: #FFFFFF;
$color6: #EEC015;

$logo_size: 28px;

$menu_panel_width: 250px;

$header_height: 80px;
$content_height: 100%;

$font_arial: Arial, Helvetica, sans-serif;
$font_tahoma: Tahoma, Geneva, sans-serif;
$font_vernada: Verdana, Geneva, sans-serif;

@mixin animation ($delay, $duration, $animation, $iteration_count, $direction) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
    -moz-animation-iteration-count: $iteration_count;
    -o-animation-iteration-count: $iteration_count;
    -webkit-animation-iteration-count: $iteration_count;
    animation-iteration-count: $iteration_count;
    -moz-animation-direction: $direction;
    -o-animation-direction: $direction;
    -webkit-animation-direction: $direction;
    animation-direction: $direction;
}

html, body {
    background-color: $color5;
    font-family: $font_tahoma;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

header {
    background-color: $color4;
    height: $header_height;
    border-bottom: 5px solid $color1;
}

.logo {
    display: inline-block;
    width: $menu_panel_width;
    height: 100%;
    background-color: $color3;
    text-align: center;
    padding-top: 15px;
    /*vertical-align: middle;
    line-height: 100%;*/
}

.toggle-aside i{
    font-size: $logo_size;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.toggle-aside {
    display: inline-block;
}

.odd-logo {
    font-weight: bolder;
    font-size: $logo_size;
    @include animation(1s, 3s, 'color_change', infinite, normal);
}

.even-logo {
    font-weight: bolder;
    font-size: $logo_size;
    @include animation(1s, 3s, 'color_change', infinite, reverse);
}

nav {
    position: relative;
    float: left;
    background-color: $color2;
    width: $menu_panel_width;
    /*margin-left: -15px;*/
    display: block;
    height: 100%;
}

.nav-active{
    background-color: $color4 !important;
    /*color: $color1 !important;*/
}

.nav ul > li{
    display: block;
    color: $color5;
    /*border-bottom: 2px groove $color3;*/
    vertical-align: middle;
    /*padding-left: 15px;*/
    line-height: 35px;
    /*@include transition(all, 0.3s, ease-in-out);*/
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.show-element{
    display: block;
}

a{
    text-decoration: none;
    color: $color5 !important;
}

a:hover{
    text-decoration: none !important;
}

.hide-element{
    display: none;
}

.nav ul > li > ul{
    display: none;
}

.nav ul > li > ul > li{
    background-color: $color3;
    color: $color5;
    /*border-bottom: 2px groove $color3;*/
    vertical-align: middle;
    /*padding-left: 15px;*/
    line-height: 35px;
    /*@include transition(all, 0.3s, ease-in-out);*/
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.li-hover{
    background-color: $color4;
}

/*.nav ul > li:hover {
    background-color: $color4;
}

.nav ul > li > ul > li:hover {
    background-color: $color4;
}*/

section {
    position: relative;
    float: left;
    overflow: auto;
    height: $content_height;
}

.content {
    height: $content_height;
     
    /*display: inline-block !important;*/
}

@-webkit-keyframes color_change {
    0% {
        color: $color1;
    }

    25% {
        color: $color3;
    }

    50% {
        color: $color5;
    }

    75% {
        color: $color3;
    }

    100% {
        color: $color1;
    }
}

@-moz-keyframes color_change {
    0% {
        color: $color1;
    }

    25% {
        color: $color3;
    }

    50% {
        color: $color5;
    }

    75% {
        color: $color3;
    }

    100% {
        color: $color1;
    }
}

@-ms-keyframes color_change {
    0% {
        color: $color1;
    }

    25% {
        color: $color3;
    }

    50% {
        color: $color5;
    }

    75% {
        color: $color3;
    }

    100% {
        color: $color1;
    }
}

@-o-keyframes color_change {
    0% {
        color: $color1;
    }

    25% {
        color: $color3;
    }

    50% {
        color: $color5;
    }

    75% {
        color: $color3;
    }

    100% {
        color: $color1;
    }
}

@keyframes color_change {
    0% {
        color: $color1;
    }

    25% {
        color: $color3;
    }

    50% {
        color: $color5;
    }

    75% {
        color: $color3;
    }

    100% {
        color: $color1;
    }
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
